# Performind the EDA and Feature Engineering on the Zomato dataset to predict the time to delivery

In [89]:
# import the Data set.
import pandas as pd
df=pd.read_csv("Data/finalTrain.csv")

# creating a copy of the dataset. 
df_copy = df.copy()

# number of rows and columns.
print(f"Number of rows : {df_copy.shape[0]} \nNumber of columns : {df_copy.shape[1]}")

Number of rows : 45584
Number of columns : 20

In [90]:
# checking the data types of the columns and columns names.
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  object
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 7.0+ MB

In [91]:
df_copy.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

As we will be predicting the time taken to delivery the product from hotel to home, we dont see any scope or relation with the ID, Delivery_person_ID, Delivery_person_Age, Delivery_person_Ratings columns in predicting time.  
So we will drop these columns.

In [92]:
# Droping the columns
df_copy = df_copy.drop(labels=["ID","Delivery_person_ID","Delivery_person_Age","Delivery_person_Ratings"],axis=1)

In [93]:
df_copy.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [94]:
# checking for duplicates.
df_copy.duplicated().sum()

0

There are no duplicate values available in the data set.

In [95]:
# checking for null or na values.
df_copy.isna().sum()

Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

There are some null or na values available in the Time_Orderd, Weather_conditions, Road_traffic_density,multiple_deliveries, Festival, City.

In [96]:
# Converting the date and time to correct form 
df_copy['Order_Date']=pd.to_datetime(df_copy['Order_Date'],format="%d-%m-%Y")

In [97]:
# Convert the complete date into date and month saperate columns as year is same in all the data we can drop it.
df_copy["Order_month"]= df_copy["Order_Date"].dt.month
df_copy["Order_day"]= df_copy["Order_Date"].dt.day
df_copy=df_copy.drop(labels="Order_Date",axis=1)

In [98]:
# Converting the Ordered time to hours and min saperate columns.
df_copy["Order_Hour"]=df_copy["Time_Orderd"].str.split(":").str[0]
df_copy["Order_Min"]=df_copy["Time_Orderd"].str.split(":").str[1]

# Converting the pickup time to Hours and min into saperate columns.
df_copy["Pickup_Hour"]=df_copy["Time_Order_picked"].str.split(":").str[0]
df_copy["Pickup_Min"]=df_copy["Time_Order_picked"].str.split(":").str[1]

In [99]:
# Drop the Time_Orderd, Time_Order_picked columns.
df_copy=df_copy.drop(labels=["Time_Orderd","Time_Order_picked"],axis=1)

In [100]:
df_copy.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Order_month,Order_day,Order_Hour,Order_Min,Pickup_Hour,Pickup_Min
0,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,2,12,21,55,22,10
1,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,2,13,14,55,15,05
2,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,3,4,17,30,17,40
3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2,13,09,20,09,30
4,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,2,14,19,50,20,05

Creating a saperate column with the complete resturant location with its latitude and longitude.

In [101]:
df_copy["Restaurant_latitude"]=df_copy["Restaurant_latitude"].astype(str)
df_copy["Restaurant_longitude"]=df_copy["Restaurant_longitude"].astype(str)
df_copy["Resturant_Location"] = df_copy["Restaurant_latitude"] + "," + df_copy["Restaurant_longitude"]

Creating the saperate column with the complete Delivery location with its latitude and longitude.

In [102]:
df_copy["Delivery_location_latitude"]=df_copy["Delivery_location_latitude"].astype(str)
df_copy["Delivery_location_longitude"]=df_copy["Delivery_location_longitude"].astype(str)
df_copy["Delevery_Location"] = df_copy["Delivery_location_latitude"] + "," + df_copy["Delivery_location_longitude"]

In [103]:
df_copy.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,...,City,Time_taken (min),Order_month,Order_day,Order_Hour,Order_Min,Pickup_Hour,Pickup_Min,Resturant_Location,Delevery_Location
0,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,motorcycle,3.0,...,Metropolitian,46,2,12,21,55,22,10,"30.327968,78.046106","30.397968,78.116106"
1,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,motorcycle,1.0,...,Metropolitian,23,2,13,14,55,15,05,"10.003064,76.307589","10.043064,76.347589"
2,18.56245,73.916619,18.65245,74.006619,Sandstorms,Medium,1,Drinks,scooter,1.0,...,Metropolitian,21,3,4,17,30,17,40,"18.56245,73.916619","18.65245,74.006619"
3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,motorcycle,0.0,...,Metropolitian,20,2,13,09,20,09,30,"30.899584,75.809346","30.919584,75.829346"
4,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,scooter,1.0,...,Metropolitian,41,2,14,19,50,20,05,"26.463504,80.372929","26.593504,80.502929"

In [104]:
# Convert the time column data type to float.
df_copy["Order_Hour"]=df_copy["Order_Hour"].astype(float)
df_copy["Order_Min"]=df_copy["Order_Min"].astype(float)
df_copy["Pickup_Hour"]=df_copy["Pickup_Hour"].astype(float)
df_copy["Pickup_Min"]=df_copy["Pickup_Min"].astype(float)

In [105]:
# Convert the data to categorical and numerical.
categorical_columns = []
numerical_columns = []
column_list = list(df_copy.columns)
column_list
for i in column_list:
    if df_copy[i].dtype == "object":
        categorical_columns.append(i)
    else :
        numerical_columns.append(i)

Filling the nan values of categorical data with my own assumption and most frequent values.

In [106]:
# Filling the nan values in categorical columns.
df_copy["Festival"]=df_copy["Festival"].fillna("No")
df_copy["City"]=df_copy["City"].fillna("Metropolitian")
df_copy["Weather_conditions"]=df_copy["Weather_conditions"].fillna("Sunny")
df_copy["Road_traffic_density"]=df_copy["Road_traffic_density"].fillna("Medium")

Filling the nan values in numerical column with the median value, after analyzing the mean, median, mode of the data.

In [107]:
# Filling the nan values with the mean,median or mode
df_copy["multiple_deliveries"]=df_copy["multiple_deliveries"].fillna(1) # median value
df_copy["Order_Hour"]=df_copy["Order_Hour"].fillna(18)   # median value
df_copy["Order_Min"]=df_copy["Order_Min"].fillna(35)    # median value
df_copy["Pickup_Min"]=df_copy["Pickup_Min"].fillna(30)  # median value

Converting the categorical data to the numerical value and assigning the numbers to it.

In [108]:
# assigning the numerical values to categorical columns data.
df_copy["Festival"]=df_copy["Festival"].map({"No":0,"Yes":1})
df_copy["City"]=df_copy["City"].map({"Urban":1,"Semi-Urban":2,"Metropolitian":3})
df_copy["Weather_conditions"]=df_copy["Weather_conditions"].map({"Sunny":1,"Cloudy":2,"Fog":3,"Windy":4,"Stormy":5,"Sandstorms":6})
df_copy["Road_traffic_density"]=df_copy["Road_traffic_density"].map({"Low":1,"Medium":2,"High":3,"Jam":4})
df_copy["Type_of_order"]=df_copy["Type_of_order"].map({"Snack":1,"Drinks":2,"Meal":3,"Buffet":4})
df_copy["Type_of_vehicle"]=df_copy["Type_of_vehicle"].map({"bicycle":1,"scooter":2,"electric_scooter":3,"motorcycle":4})

In [109]:
df_copy.head()

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,...,City,Time_taken (min),Order_month,Order_day,Order_Hour,Order_Min,Pickup_Hour,Pickup_Min,Resturant_Location,Delevery_Location
0,30.327968,78.046106,30.397968,78.116106,3,4,2,1,4,3.0,...,3,46,2,12,21.0,55.0,22.0,10.0,"30.327968,78.046106","30.397968,78.116106"
1,10.003064,76.307589,10.043064,76.347589,5,3,1,3,4,1.0,...,3,23,2,13,14.0,55.0,15.0,5.0,"10.003064,76.307589","10.043064,76.347589"
2,18.56245,73.916619,18.65245,74.006619,6,2,1,2,2,1.0,...,3,21,3,4,17.0,30.0,17.0,40.0,"18.56245,73.916619","18.65245,74.006619"
3,30.899584,75.809346,30.919584,75.829346,6,1,0,4,4,0.0,...,3,20,2,13,9.0,20.0,9.0,30.0,"30.899584,75.809346","30.919584,75.829346"
4,26.463504,80.372929,26.593504,80.502929,3,4,1,1,2,1.0,...,3,41,2,14,19.0,50.0,20.0,5.0,"26.463504,80.372929","26.593504,80.502929"

In [110]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Restaurant_latitude          45584 non-null  object
 1   Restaurant_longitude         45584 non-null  object
 2   Delivery_location_latitude   45584 non-null  object
 3   Delivery_location_longitude  45584 non-null  object
 4   Weather_conditions           45584 non-null  int64
 5   Road_traffic_density         45584 non-null  int64
 6   Vehicle_condition            45584 non-null  int64
 7   Type_of_order                45584 non-null  int64
 8   Type_of_vehicle              45584 non-null  int64
 9   multiple_deliveries          45584 non-null  float64
 10  Festival                     45584 non-null  int64
 11  City                         45584 non-null  int64
 12  Time_taken (min)             45584 non-null  int64
 13  Order_month                  45584 non-null  int32
 14  Order_day                    45584 non-null  int32
 15  Order_Hour                   45584 non-null  float64
 16  Order_Min                    45584 non-null  float64
 17  Pickup_Hour                  45584 non-null  float64
 18  Pickup_Min                   45584 non-null  float64
 19  Resturant_Location           45584 non-null  object
 20  Delevery_Location            45584 non-null  object
dtypes: float64(5), int32(2), int64(8), object(6)
memory usage: 7.0+ MB

In [111]:
pip install geopy

Requirement already satisfied: geopy in /config/.local/lib/python3.8/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /config/.local/lib/python3.8/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [112]:
import geopy.distance
# Create a new column to store the distances
distances = []

# Loop through the restaurant and delivery location coordinates
for Resturant_Location, Delevery_Location in zip(df_copy["Resturant_Location"], df_copy["Delevery_Location"]):
    # Calculate the distance between the two locations
    distance = geopy.distance.distance(
        Resturant_Location,
        Delevery_Location,
    ).km

    # Add the distance to the distances list
    distances.append(distance)

In [113]:
df_copy["Distance"] = distances

In [114]:
Cleaned_data = df_copy.drop(labels=["Restaurant_latitude","Restaurant_longitude","Delivery_location_latitude","Delivery_location_longitude","Resturant_Location","Delevery_Location"],axis=1)

# Cleaned data set.
In the original data set we have removed unwanted columns, created a ranking to the categorical columns, saperated the time , data correctly

In [115]:
Cleaned_data.head()

,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Order_month,Order_day,Order_Hour,Order_Min,Pickup_Hour,Pickup_Min,Distance
0,3,4,2,1,4,3.0,0,3,46,2,12,21.0,55.0,22.0,10.0,10.271464
1,5,3,1,3,4,1.0,0,3,23,2,13,14.0,55.0,15.0,5.0,6.229376
2,6,2,1,2,2,1.0,0,3,21,3,4,17.0,30.0,17.0,40.0,13.764306
3,6,1,0,4,4,0.0,0,3,20,2,13,9.0,20.0,9.0,30.0,2.927795
4,3,4,1,1,2,1.0,0,3,41,2,14,19.0,50.0,20.0,5.0,19.373484

In [116]:
Cleaned_data.describe()

,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Order_month,Order_day,Order_Hour,Order_Min,Pickup_Hour,Pickup_Min,Distance
count,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000
mean,3.476988,2.377874,1.023385,2.493155,3.241751,0.750197,0.019656,2.551816,26.293963,2.980673,13.810920,16.091677,32.890049,16.232867,31.319652,99.216342
std,1.714284,1.238741,0.839055,1.118320,0.928645,0.567465,0.138817,0.831815,9.384298,0.545939,8.708532,6.394220,13.417695,6.528559,15.078164,1100.033036
min,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,10.000000,2.000000,1.000000,0.375000,10.000000,0.375000,5.000000,1.463837
25%,2.000000,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000,3.000000,19.000000,3.000000,6.000000,12.000000,20.000000,12.000000,20.000000,4.654185
50%,3.000000,2.000000,1.000000,2.000000,4.000000,1.000000,0.000000,3.000000,26.000000,3.000000,13.000000,18.000000,35.000000,18.000000,30.000000,9.247098
75%,5.000000,4.000000,2.000000,3.000000,4.000000,1.000000,0.000000,3.000000,32.000000,3.000000,20.000000,21.000000,45.000000,21.000000,45.000000,13.740932
max,6.000000,4.000000,3.000000,4.000000,4.000000,3.000000,1.000000,3.000000,54.000000,4.000000,31.000000,23.000000,55.000000,24.000000,55.000000,19709.575543

In [117]:
# Creating the Independent (X) and dependent column (Y) 
X = Cleaned_data.drop(labels="Time_taken (min)",axis=1)
Y = Cleaned_data["Time_taken (min)"]

In [118]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Spliting the data into train and test data. and performing the Fit and transform on the train data.  
performing only transform on the train data.

In [119]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.30)

In [120]:
scalar = StandardScaler()

In [121]:
X_train = scalar.fit_transform(X_train)

In [122]:
X_test = scalar.transform(X_test)

Performing the regression operation

In [123]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [124]:
regression = LinearRegression()

In [125]:
# Regression to be performed on the X train and Y train data.
regression.fit(X_train,Y_train)

LinearRegression()

In [126]:
regression.coef_

array([ 0.30948247,  3.1240027 , -1.68422923,  0.01457669,  0.26538828,
        2.50003999,  1.84667288,  1.15123161, -0.03539418,  0.04777144,
        0.39082812,  0.11987537,  0.35638871, -0.15779782,  0.11973691])

In [127]:
regression.intercept_

26.316096276795786

In [128]:
y_predict = regression.predict(X_test)

In [129]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [131]:
from sklearn.ensemble import RandomForestRegressor

In [133]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet(),
    'RandomForest': RandomForestRegressor()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,Y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(Y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 7.3853099292865005
MAE: 5.902044143119872
R2 score 37.068418536464755
===================================


Lasso
Model Training Performance
RMSE: 7.652407087515305
MAE: 6.208042691225661
R2 score 32.43413746961233
===================================


Ridge
Model Training Performance
RMSE: 7.385308853313142
MAE: 5.902049205120752
R2 score 37.06843687359637
===================================


Elasticnet
Model Training Performance
RMSE: 7.716479581557443
MAE: 6.283496878624194
R2 score 31.29796246127039
===================================


RandomForest
Model Training Performance
RMSE: 5.817372157756208
MAE: 4.546563956322511
R2 score 60.95325009682466
===================================

In [135]:
pd.DataFrame(r2_list,model_list)

                         0
LinearRegression  0.370684
Lasso             0.324341
Ridge             0.370684
Elasticnet        0.312980
RandomForest      0.609533